* {
  background-color: #ddd;
  margin: 0;
  padding: 0;
}

div {
  width: 100%;
  display: flex;
}

ul {
  justify-content: space-around;
}

li {
  display: flex;
  list-style: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #000;
}

section {
  width: 100%;
  display: flex;
}

section img {
  width: 50%;
  height: 500px;
}

video {
  width: 50%;
  height: 500px;
}
